html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: rgb(255, 241, 203);
}

#container {
  display: grid;
  margin: 0 10%;
  gap: 10px;
  grid-template-columns: 1.25fr 2fr;
}

#aristotle {
  grid-column: 1/2;
}

#rhetoric {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column: 2/3;
}

#container p {
  font-family: "Gentium Book Basic", serif;
  font-size: 1.2rem;
  max-width: 65ch;
  background-color: rgba(255, 250, 243, 0.972);
  padding: 0.5rem;
  border-radius: 0.5rem;
  transition: transform 1s;
  transform: translate();
  width: 100%;
  box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.17);
}

h1 {
  text-align: center;
  font-size: 2rem;
  width: 100vw;
  background-color: rgb(255, 241, 203);
  margin-top: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: "Pirata One", serif;
}
